<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<!-- <div class="mainContent">
    
    <div class="login">
        <div class="inputs">
            <label for="EMAIL">Email</label>
            <input type="email" name="EMAIL" [formControl]="fcEmail" />
            <label for="PASSWORD">Password</label>
            <input type="password" name="PASSWORD" [formControl]="fcPassword" />
            <h5 *ngIf="error!=''">{{error}}</h5>
        </div>
        <div class="actions">
            <button (click)="login()">LOGIN</button>
        </div>
        <h5 (click)="nav('register')">No account yet? Create an account</h5>
    </div>
</div> -->

<div class="login">
    <h2 class="active"> sign in </h2>
  
    
    <div class="fform">
     
      
      <form class="inputs" >
      <input type="text" class="text" name="ID" formControlName="id" >
       <span>IDENTIFICATION NUMBER</span>
  
      <br>
      
      <br>
  
      <input type="password" class="text" name="PASSWORD" formControlName="password" >
      <span>password</span>
      <br>
    </form>
      
      <!-- <button (click)="login()" class="signin">
        Sign In
      </button> -->
  
  
      <hr>
  
      <a (click)="nav('register')">Don't have account? Sign Up here</a>
    </div>
  
  </div>