<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<mat-toolbar color="primary">
    <button mat-icon-button   (click)="nav('attendancelist')" >
      <mat-icon >menu</mat-icon>
    </button>
    <button (click)="nav('accounts')" mat-icon-button >
      <mat-icon>supervisor_account</mat-icon>
    </button>
    
    <a>Face Recognition Attendance System</a>
    <span class="example-spacer"></span>
    
    <button mat-raised-button color="accent" >Add Account</button>
    <button mat-raised-button color="accent" >Add Attendance</button>
    <button mat-raised-button color="accent" >Add Schedule</button>
  
    <button (click)=" nav( 'login' ) " mat-icon-button class=" example-icon " aria-label=" Example icon-button with share icon ">
    <mat-icon>call_missed_outgoing</mat-icon>
  </button>

</mat-toolbar>